<!DOCTYPE html>
<html lang="en">
<!-- Head section starts here -->
<head>
    <title>TasteDB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <link href="/static/css/style.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

</head>
<!-- Head section ends here -->

<!-- Body section starts here -->
<body>

<!-- Header section starts here -->

<div class="container" align="center">

    <h3 align="center" class="shadow_inner">FIFA 2019: Search FIFA Players and Build an Incredible FIFA Team!</h3>

    <br>

    <!-- <div class="jumbotron" align="left">

        <p>Welcome to FIFA 2019 Website. Here, you can search FIFA Players by their Name, Club and Nationality. <br> 
            You can also build a FIFA Team of your own by specifing a Budget. Let's Get Started</p>

    </div> -->

</div>
<!-- Header section ends here -->

<!-- CONTENT BLOCK -->
{% block content %}


{% endblock %}
<!-- END OF CONTENT BLOCK -->

{% block footer %}
        
{% endblock %}



{% block javascript %}

{% endblock %}

</body>
<!-- Body section ends here -->
</html>